@page
@model IndexModel
@{
    ViewData["Title"] = "Employee Information";
}

<div class="text-center">
    <h1 class="display-4">Employee Information</h1>
</div>

<div class="container mt-4">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model.Employees)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.TruncatedLastName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
